:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --blue8: #3b5bdb;
  --blue3: #74c0fc;
  --gray0: #f8f9fa;
  --dark7: #1a1b1e;
  --gray7: #495057;

  --primary: #f5b22f;
  --secondary: #ffffff;
  --tertiary: #292929;
  --accent-blue: #197dfd;
  --accent-red: #f94144;
  --accent-green: #93e409;
  --accent-yellow: #fbffb7;
  --accent-black: #f94144;
  --neutral-light: #d9d9d9;
  --neutral-mid: #f8f8f8;
  --neutral-dark: #8e96a3;
  --alert: #c10a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --blue8: #3b5bdb;
    --blue3: #74c0fc;
    --gray0: #f8f9fa;
    --dark7: #1a1b1e;
    --gray7: #495057;

    --primary: #f5b22f;
    --secondary: #ffffff;
    --tertiary: #292929;
    --accent-blue: #197dfd;
    --accent-red: #f94144;
    --accent-green: #93e409;
    --accent-yellow: #fbffb7;
    --accent-black: #f94144;
    --neutral-light: #d9d9d9;
    --neutral-mid: #f8f8f8;
    --neutral-dark: #8e96a3;
    --alert: #c10a0a;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
