.notificationButton {
    position: relative;
    display: flex;
    
  }
  
  .notificationIcon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: aliceblue;
  }
  
  .notificationCount {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 12px;
  }
  
  .notificationDropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    padding: 8px;
    min-width: 200px;
    z-index: 1;
  }
  