/* Add this CSS to your stylesheet or CSS module */
.chartcontainer {
    position: relative;
}

.top-left-text {
    position: absolute;
    top: 10px;
    /* Adjust the top position as needed */
    left: 10px;
    /* Adjust the left position as needed */
    color: white;
    /* Text color */
    font-size: 16px;
    /* Font size */
}

.row {
    display: flex;

    /* justify-content: space-between; */
    /* Adjust as needed */
    align-items: center;
    /* Adjust as needed */
}

.chart-donut {
    width: 400px;
    height: 400px;
    align-items: center;
    padding-left: 20%;
}

.chart-container {
    background-color: #197DFD;
    width: 100%;
    height: 600px;

}

.custom-container {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin: 20px;
    width: 50%;
    height: 400px;
}

.text-dounut-chart {
    color: black;
    font-weight: bold;
}

.text-dounut-chart-subtitle {
    color: black;
}

.text-dounut-chart-48 {
    color: black;
    font-size: 100;
    font-weight: bold;

}