.chartcontainer {
    display: flex;
    justify-content: center;
}

.top-left-text {
    position: absolute;
    top: 10px;
    color: white;
    font-size: 16px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    max-width: 1200px;
}

.chart-donut {
    width: 300px;
}

.chart-container {
    background-color: #197DFD;
    display: flex;
    justify-content: center;
}

.chart-outer-container {
    position: relative;
}

.custom-container {
    display: flex;
    width: 100%;
    border-radius: 1rem;
    background-color: white;
    padding: 20px;
    height: 30.2rem;
}

.text-dounut-chart {
    color: black;
    font-weight: bold;
}

.text-dounut-chart-subtitle {
    color: black;
}

.text-dounut-chart-48 {
    color: black;
    font-size: 48px;
    font-weight: bold;

}