.chartcontainer {
    position: relative;
}

.top-left-text {
    position: absolute;
    top: 10px;
    color: white;
    font-size: 16px;
}

.row-chart-and-stats {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    padding: 30px;
}

.row-chart-icon {
    display: flex;
    justify-content: space-between;
    gap: 19rem;
    align-items: center;
    padding-right: 10px;
    /* padding: 30px; */
}


.info-icon{
    width: 30px;
    height: 30px;
}

.chart-donut {
    width: 400px;
}

.chart-container {
    background-color: #197DFD;
}

.chart-outer-container {
    position: relative;
    padding-left: 20%;
}

.custom-container {
    display: flex;
    width: 100%;
    border-radius: 1rem;
    background-color: white;
    padding-top: 20px;
    padding-left: 20px;
    height: 30.2rem;
}

.text-dounut-chart {
    color: black;
    font-weight: bold;
}

.text-dounut-chart-subtitle {
    color: black;
}

.text-dounut-chart-48 {
    color: black;
    font-size: 48px;
    font-weight: bold;

}