.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.container {
  max-width: 900px;
}

.hero {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 10rem;
  min-height: 5rem;
  align-items: center;
}

.header {
  width: 100%;
  background-color: var(--dark7);
  color: var(--gray0);
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.floorPlanImageContainer {
  object-fit: contain;
}

.queryContainer {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.stat-card {
  background-color: rgb(237, 255, 189);
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  border-radius: 0.5rem;
}

.stat-collection {
  width: 21rem;
  height: 20.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.stat {
  display: flex;
  justify-content: space-between;
}

.stat-value {
  font-size: 4rem;
  font-weight: bolder;
}

.modal-header{
  text-align: center;
}

.modal-header h1{
  font-size:large;
}
.modal-header h2{
  font-size:small;
  color: var(--neutral-dark);
}

.modal-label{
  font-size: small;
}

/* Styling for the form container */
.form-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

/* Styling for the components */
.component {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

/* Styling for labels and dropdowns */
.label, .select {
  margin-right: 10px;
}

/* Styling for the button */
.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #0056b3;
}

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {

} */

/* @media (prefers-reduced-motion) {

} */

/* Mobile */
/* @media (max-width: 700px) {

} */

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {

} */

/* @media (prefers-color-scheme: dark) {

}

@keyframes rotate {

} */
